recursive-include *.py
include docs/man/pg_activity.1
recursive-include docs *.png *.pod *.sh *.svg
include *.md
include *.txt
include .flake8
include .travis.yml
include mypy.ini
include pyproject.toml
include tox.ini
